{% extends 'base.html' %}
{% block head %}
    <title>Signup Page</title>
{% endblock %}

{% block body %}
<section class="catogories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 p-1">
                        <div class="catagories_item">
 
                        </div>  
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 p-1" style=" margin-top: 25px;">
                        <div class="catagories_item">
                        <div class="catagories_item catagories_large_item" >
                    

            <form class="mx-1 mx-md-4">

              <div class="d-flex flex-row align-items-center mb-4">
           
                <div class="form-outline flex-fill mb-0">
                  <input type="text" name="Name" value="" placeholder="Name" class="form-control" />
                 
                </div>
              </div>

              <div class="d-flex flex-row align-items-center mb-4">
           
                <div class="form-outline flex-fill mb-0">
                  <input type="text" name="Mobile" value="" placeholder="Mobile Number" class="form-control" />
                 
                </div>
              </div>
            

              <div class="d-flex flex-row align-items-center mb-4">
               
                <div class="form-outline flex-fill mb-0">
                  <input type="email" name="email" value="" placeholder="Email ID" class="form-control" />
                  
                </div>
              </div>

              <div class="d-flex flex-row align-items-center mb-4">
               
                <div class="form-outline flex-fill mb-0">
                  <input type="password" name="password" value="" placeholder="Enter Password" class="form-control" />
                  
                </div>
              </div>

              <div class="d-flex flex-row align-items-center mb-4">
              
                <div class="form-outline flex-fill mb-0">
                  <input type="password" name="cpassword" value="" placeholder="Re-type Password" class="form-control" />
                  
                </div>
              </div>

              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <input type="submit"  class="form-control" style="width: 125px; display: block; margin-left: auto; margin-right: auto;">
              </div>
              <p class="support-p">Already have an Account?    
                      <a href="/signin" style="color: black; text-decoration: none;"><strong style="font-size: large;">SignIn</strong></a> 
                    </p>
            </form>
                
                </div></div>  
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 p-1">
                        <div class="catagories_item">
                            
                        </div>  
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 p-1">
                        <div class="catagories_item">
                            
                        </div>  
                    </div>

                </div>
            </div>
            <div class="col-lg-6 p-0">
            <div class="catagories_item catagories_large_item" >
                  <div class="catagories_text" style="text-align: center;">
                  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                    <img src="static/img/signup.jpg" class="img-fluid"/>
                   
                </div>
            </div>
        </div>
    </div>
</section> 



{% endblock %}